<div class="container">
  <app-page-title title="Eszközök" backLink="/" />
  <div class="tools">
    <div class="tool-card card" [routerLink]="['/tierlist-maker']">
      <div class="title">Tier List Készítő</div>
      <div class="description">
        Állítsd össze és rendezd a karaktereket a saját tier listád szerint.
      </div>
    </div>
    <div class="tool-card card" [routerLink]="['/material-calculator']">
      <div class="title">Tervező</div>
      <div class="description">
        Tervezd meg milyen anyagokra lesz szükséged a karakterek és fegyverek fejlesztéséhez.
      </div>
    </div>
  </div>
</div>
